[run]
relative_files = true

[report]
omit =
    */tests/*
    */tmp*/*
exclude_lines =
    # Re-enable default pragma
    pragma: no cover

    # Debug-only code
    def __repr__

    # Type checking code not executed during pytest runs
    if TYPE_CHECKING:
    @overload

    # Abstract methods
    raise NotImplementedError
