.svn/
.hg/
.hgtags/
*.py[cod]
log
build
dist/
astroid.egg-info/
.idea
.tox
.coverage
.coverage.*
.cache/
.eggs/
.pytest_cache/
.mypy_cache/
venv
doc/_build/
doc/api/bases/
doc/api/base_nodes/
doc/api/context/
doc/api/manager/
doc/api/nodes/
doc/api/objectmodel/
doc/api/objects/
doc/api/typing/
doc/api/util/
.cie/
.venv/
.forge/
