include ChangeLog
include README.rst
include COPYING
include COPYING.LESSER
include pytest.ini
recursive-include tests *.py *.zip *.egg *.pth
recursive-include astroid/brain *.py
graft tests
recursive-exclude tests *.pyc
