-r requirements_minimal.txt
-r requirements_dev.txt

# Packages used to run additional tests
attrs
numpy>=1.17.0,<2; python_version<"3.12"
python-dateutil
PyQt6
regex
# Pinned as 82.0.0 removes `pkg_resources` which we require for a test.
setuptools<82; python_version>="3.12"
six
urllib3>1,<2
typing_extensions>=4.4.0
