-r requirements_minimal.txt
-r requirements_dev.txt

# Packages used to run additional tests
attrs
nose
numpy>=1.17.0,<2; python_version<"3.12"
python-dateutil
PyQt6
regex
setuptools; python_version<"3.12"
six
urllib3>1,<2
typing_extensions>=4.4.0
