attrs
types-attrs
nose
# Don't test numpy with py310
# Until a wheel is uploaded to pypi, this would require
# additional dependencies to build it from source
numpy; python_version < "3.10"
python-dateutil
types-python-dateutil
six
types-six
