Source: logilab-astng
Section: python
Priority: optional
Maintainer: Sylvain Thénault <sylvain.thenault@logilab.fr>
Uploaders: Alexandre Fayolle <afayolle@debian.org> 
Build-Depends: debhelper (>= 5.0.37.1), python-dev (>=2.3.5-7), python (>=2.3.5-7), python-central
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-logilab-astng
Architecture: all
Depends: ${python:Depends}, python-logilab-common (>= 0.16.1-2)
XB-Python-Version: ${python:Versions}
Description: extend python's abstract syntax tree
 The aim of this module is to provide a common base representation of
 python source code for projects such as pyreverse or pylint. 
 .
 It extends classes defined in the compiler.ast module with some
 additional methods and attributes. Instance attributes are added by a
 builder object, which can either generate extended ast (let's call
 them astng ;) by visiting an existant ast tree or by inspecting
 living object. Methods are added by monkey patching ast classes.
 .
 Homepage: http://www.logilab.org/projects/astng

